%input#location{:type => "text"}/
#clickmediv
  %input#clickme{:type => "button",:value=>"asjkdl"}/
- if @message != "done"
  = link_to image_tag("http://ak.imgag.com/imgag/eg/new_site/fb_connect.png", :border=>0),@redirect_url, {:title => "Log in"}
-else
  / -@friends.each_index do |i|	
  /   = (i+1).to_s+" )"
  /   = @friends[i]["name"]
  /   %br/




 	
                                                                         


              
    
