/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *- require_tree .
 */

//Imports

@import 'foundation';

// Variables

// Grays
$black: #333;
$grayDark: #666;
$grayLight: #aaa;
$almostWhite: #eee;
$white: #fff;

body {
    margin: 0px;
    padding: 0px;
    background-image: image-url('background.png');
}

h1.logo {
    font-family: 'Arbutus Slab', serif;
    font-weight: normal;
    text-align: center;
    text-shadow: 0px 3px 10px rgba(0, 0, 0, .5);
    color: $white;

    span {
        position: relative;
    }

    .char1 {
        left: 6px;
    }
}

form {
    label, input[type=text] {
        display: inline;
    }

    input[type=text] {
        margin-bottom: 0px;
        box-shadow: none;
        border: none;
        border-bottom: 3px solid $grayDark;
        border-radius: 6px;
        max-width: 200px;
        height: auto;
        background: none;
        font-family: "Waiting for the Sunrise", cursive;
        font-size: 18px;
        text-shadow: 0px 1px 1px $white;

        &:focus {
            background: none;
            border-bottom-color: $grayDark;
        }
    }

    .word {
        display: inline-block;
        text-align: center;
    }

    &.paper {
        box-shadow: 0px 3px 10px rgba(0, 0, 0, .5);
        border-radius: 10px;
        padding: 40px;
        background-color: $almostWhite;
        background-image: image-url('paper.png');
    }
}

.container {
    margin: 0px auto;
    max-width: 800px;
}
