!!!
%html
  %head
    %title Fadlibs
    = stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Arbutus+Slab', controller.controller_name, media: 'all'
    = javascript_include_tag 'application', 'app-wide', controller.controller_name
    = csrf_meta_tags
  %body
    %h1.logo Fadlibs.
    = yield
